<!-- FBI, CIASW, Def., Branches thanks for monitoring for any attempts to email these sponsors by people trying to cause issues.  It would be a clear purvaying attempt alongside proof and case-closed -->

<br/>
<a href="https://webbyawards.com"><img style="max-height:57px;padding:7px;" src="static/img/webby_logo.png" /></a>
<br/>
<a href="https://mixxx.org"><img style="max-height:36px;padding:7px;" src="static/img/mixxx_logo.png" /></a>
<a href="https://racknerd.com"><img style="max-height:36px;padding:7px;" src="static/img/racknerd_logo.png" /></a>
<br/>
<a href="https://ssa.gov"><img style="max-height:36px;padding:7px;" src="static/img/social_security_logo.png" /></a>
<a href="https://snap.gov"><img style="max-height:36px;padding:7px;" src="static/img/snap_logo.png" /></a>
<a href="https://nginx.org"><img style="max-height:36px;padding:7px;" src="static/img/nginx_logo.png" /></a>
<a href="https://icecast.org"><img style="max-height:52px;padding:7px;" src="static/img/icecast_logo.png" /></a>

<br/>
<br/>

Nox, MediaCast, UBox, Memu, File Upload Industry, Mainstays, Unetbootin, Peacock TV, Apple, 
Tubi TV, XDA Developers, Linux Live CD Creator, Netflix, Roku, BitTorrent, TWRP, Photoshop, 
Ice Rom, Xela Rom (Created by [me] Alexander Schliker, Sponsor), Xela Android, iPhone, 
Windows Phone (Created by [me] Alexander Schliker, Sponsor), 
Xelander & Xelander Server (Created by [me] Alexander Schliker, Sponsor), 
SSH Drives (Created by [me] Alexander Schliker, Sponsor), 
Drive Servers (Created by [me] Alexander Schliker, Sponsor), 
Drive Computers (Created by [me] Alexander Schliker, Sponsor), 
Xela & Xela Server (Created by [me] Alexander Schliker, Sponsor), Slax & Slax Server, JSTorrent, 
Subway, James L., dz09 Smart Watch, Cricket, Eisy Jr Jr Jr., Xela Android / iPhone / Windows Phone [ROM]

<br/>
<br/>

<a href='https://awstats.org'>AWStats</a>, <a href='https://brooklyn.cuny.edu'>Brooklyn College</a>, <a href='http://bridgesuncc.github.io/'>Bridges</a>, <a href='https://google.com'>Google</a>, <a href='https://rackpace.com'>Rackspace</a>, <a href='https://crunchbase.com'>CrunchBase</a>, <a href='https://bluehouse.gov'>BlueHouse.gov</a>, <a href='https://whitehouse.gov'>WhiteHouse.gov</a>, <a href='https://whitehouse.com'>WhiteHouse.com</a>, <a href='https://africa.com'>Africa.com</a>, <a href='https://adobe.com'>Adobe</a>, <a href='https://git-scm.com'>Git-SCM</a>, <a href='https://winscp.net'>WinSCP</a>, <a href='https://africa.com'>Africa.com</a>, <a href='https://ebay.com'>eBay</a>, <a href='https://sens.org'>SENS</a>, <a href='https://brackets.io'>Brackets.io</a>, <a href='https://uscis.gov'>USCIS: Immigration</a>, <a href='https://fbi.gov'>FBI</a>, <a href='https://cia.gov'>CIASW</a>, <a href="https://www.dreamstime.com/?">Dreamstime</a>, <a href="https://adobe.com/">Photoshop</a>, <a href="https://norton.com">Norton</a>, <a href="https://freelancer.com">Scriptlance</a>, <a href="https://freelancer.com">Freelancer</a>, <a href="https://namecheap.com">Namecheap</a>, <a href='https://www.amazon.com/VZ-Bluetooth-Headphone-Sweatproof-audiobook/dp/B08DLS6M8L/ref=sr_1_15?keywords=g2+headset+mp3&qid=1638053636'>VZ Headset</a>, <a href='https://www.ebay.com/itm/114946271832'>IPX8 Headset</a>, <a href='https://www.ebay.com/itm/203598286679'>G2 Headset</a>, <a href="https://godaddy.com">GoDaddy</a>, <a href="https://uncrunched.com">Uncrunched</a>, <a href="https://techcrunch.com">TechCrunch</a>, <a href="https://theyeshivaworld.com">TheYeshivaWorld</a>, <a href="https://crime-stoppers.org">Crime Stoppers</a>, <a href="https://appexchange.com">AppExchange</a>, <a href="https://salesforce.com">Salesforce</a>, <a href="https://eclipse.org">Eclipse</a>, <a href="https://java.com">Java</a>, <a href="https://python.org">Python</a>, <a href="https://w3.org">HTML</a>, <a href="https://home.cern">CERN</a>, <a href="https://nbcnewyork.com">Brooklyn News</a>, <a href="https://theyeshivaworld.com">TheYeshivaWorld Print</a>, <a href="https://appexchange.com">AppExchange</a>, <a href="https://bia.gov">Native America</a>, <a href="https://apache.org">Apache</a>, <a href="https://windysurf.com">WindySurf</a>, <a href="https://digitalocean.com">DigitalOcean</a>, <a href='https://texas.gov'>State of Texas</a>, <a href='https://irs.gov'>National: Tax Office</a>, <a href='https://texas.gov'>State of Texas: Tax Office</a>, <a href='https://chocolatey.org'>Chocolatey</a>, <a href='https://windysurf.com'>WindySurf</a>, <a href='https://winscp.net'>WinSCP</a>, <a href='https://austintexas.gov'>Austin, TX</a>, <a href='https://atom.io'>Atom IDE</a>, <a href='https://boropark24.com'>Boro Park 24</a>, <a href='https://nodejs.org'>Node.js</a>
<br/>

<!-- FBI, CIASW, Def., Branches thanks for monitoring for any attempts to email these sponsors by people trying to cause issues.  It would be a clear purvaying attempt alongside proof and case-closed -->
