{% extends 'templates/index.html' %}

{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <h1>Our Team</h1>
                
		                <div style='font-size:; padding-right: 15px;'>
		                	
							<p>We have an amazing team of amazing people at AnonyProxies: </p>
							
                            <ul dir="auto" style="text-align:left;">
                                <li>Alexander Schliker (Founder) - <a href="http://alexanderschliker.com" rel="nofollow">http://alexanderschliker.com</a> </li>
                                <li>King David S. </li>
                                <li>Teddy R.</li>
                                <li>Pauly Graham</li>
                                <li>Mikey Arrington (co-Founder)</li>
                                <li>YC</li>
                                <li>Einsteins</li>
                                <li>Austin Jones</li>
                                <li>Mike Adams</li>
                                <li>LBJ</li>
                                <li>Biden</li>
                                <li>KH</li>
                                <li>Barack Obama</li>
                                <li>Austin L.</li>
                                <li>Ben Franklin</li>
                                <li>JFK</li>
                                <li>D.J.</li>
                                <li>George Washington</li>
                                <li>Alexander Hamilton Family</li>
                                <li>Malia Obama</li>
                                <li>John Sibley</li>
                                <li>Team Github</li>
                                <li>Post Offices</li>
                                <li>DownNotifier</li>
                                <li>DigitalOcean Founders (Sponsor)</li>
                                <li>Github (Sponsor)</li>
                                <li>Facebook earliest team</li>
                                <li>PHProxy</li>
                                <li>PHProxy++</li>
                                <li>CGIProxy</li>
                                <li>A2</li>
                                <li>Glype</li>
                                <li>BofA</li>
                                <li>Wells Fargo</li>
                                <li>PayPal</li>
                                <li>Hewlett and Packard</li>
                                <li>HP</li>
                                <li>Adobe</li>
                                <li>PhoneGap</li>
                                <li>Kennedy Sr Sr</li>
                                <li>Git-scm</li>
                                <li>King David S. </li>
                                <li>Alexander Schliker </li>
                                <li>Nginx</li>
                                <li>Veronica M.</li>
                                <li>Gerald F.</li>
                                <li>Michael Clinton</li>
                                <li>Clinton</li>
                                <li>Teddy Jr. Jr. Jr.</li>
                                <li>Kroger Grocery Store</li>
                                <li>Humanoids</li>
                                <li>Whitehouse.com</li>
                                <li>Gerald F. Jr Jr Jr Jr</li>
                                <li>Kenedy Jr Jr Jr</li>
                                <li>Larry Page (Co-Founder)</li>
                                <li>Sergey Brin (Co-Founder)</li>
                                <li>Emil Gilliam</li>
                                <li>Gerald F. Jr Jr Jr Jr Jr</li>
                                <li>Teddy Jr Jr</li>
                                <li>Kennedy Sr.</li>
                                <li>S.H.</li>
                                <li>Moses Sr.</li>
                                <li>Obama Sr.</li>
                                <li>Bush Sr Sr</li>
                                <li>Kennedy Jr</li>
                                <li>Eisy Senior</li>
                                <li>Luke Eisy</li>
                                <li>James Lindenbaum</li>
                                <li>Kirt</li>
                                <li>Moses Charles 2nd</li>
                                <li>Einstein Jr Jr Jr Jr Jr</li>
                                <li>Gerald Ford Jr Jr Jr</li>
                                <li>Brooke S.</li>
                                <li>Kensington</li>
                                <li>Jake</li>
                                <li>Weiser</li>
                                <li>Sanitation Departments</li>
                                <li>Builders Lodge Frisco</li>
                                <li>Kennedy Sr Sr Sr</li>
                                <li>Teddy Sr Sr Sr Sr Sr</li>
                                <li>Bush Sr Sr</li>
                                <li>Circles</li>
                                <li>Shields</li>
                                <li>Infinities</li>
                                <li>Superheroes</li>
                                <li>Grids</li>
                                <li>Super-grids</li>
                                <li>Whitehouse.com</li>
                                <li>Africa</li>
                                <li>Moses RC Jr</li>
                                <li>HP Enterprise</li>
                                <li>HP</li>
                                <li>Johnston Family</li>
                                <li>Dustin Curtis</li>
                                <li>Pidgin</li>
                                <li>Einstein Sr Sr Sr</li>
                                <li>Jefferson Jr Jr Jr</li>
                                <li>Biden Sr Sr</li>
                                <li>Joseph Stalin Sr</li>
                                <li>PE Alexander Schliker (co-Founder)</li>
                                <li>AWStats</li>
                                <li>Richie Rich</li>
                                <li>Moses Rayhawk Sr Sr</li>
                                <li>Teddy Jr Jr Jr</li>
                                <li>Kennedy Sr Sr Sr</li>
                                <li>Teddy Delano Bush Sr Sr Sr</li>
                                <li>ChronicPulse.net</li>
                                <li>WindySurf</li>
                                <li>Gerald Ford Jr Jr Jr Jr</li>
                                <li>Moses Rayhawk Sr Sr</li>
                                <li>Kennedy Sr Sr</li>
                                <li>Kennedy Jr Jr Jr Jr Jr</li>
                                <li>Teddy Sr Squared</li>
                                <li>Bush</li>
                                <li>Einstein Sr Sr</li>
                                <li>Gerald Ford Sr Sr</li>
                                <li>Stalin</li>
                                <li>King David S.</li>
                                <li>Alexander Schliker</li>
                            </ul>
                            
							
		                </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}