
    <!-- Terms Section -->
    <section id="terms" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Terms of Use</h2>

                <div style='overflow-y: scroll; height: 200px; font-size: .8em; padding-right: 15px;'>
                    <p>Terms of Service AnonyProxies.com provides Anonymous Website Proxies, Virtual Private Networking (&ldquo;VPN&rdquo;), Encryption Services and Hidden IP Addresses to its clients. You (&ldquo;Client&rdquo; or &ldquo;Subscriber&rdquo;) (AnonyProxies.com and Subscriber collectively known as &ldquo;Parties&rdquo;) acknowledge that AnonyProxies.com and/or any of its parent companies or constituents will not be held liable for any and all liability arising from your use of its services and website.</p>

                    <p>Subscriber affirms that they are either more than eighteen (18) years of age or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Service, and to abide by and comply with these Terms and Conditions contained herein.</p>

                    <p>If you are under the age of eighteen (18) years of age and between thirteen (13) and seventeen (17) years of age, then you must find a legal parent or guardian to purchase and activate this service for you. If you are unable to find a legal parent or guardian to purchase and activate this service for you or if you are under thirteen (13) years of age, you are not permitted to use this website or its services.</p>

                    <p>ACCEPTANCE By using and/or visiting the AnonyProxies.com service and website (collectively, including but not limited to all services and webpages available through AnonyProxies.com, the website) subscriber agrees in full to the terms and conditions provided herein and the terms and conditions of AnonyProxies.com's Privacy Policy found on this website, Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;) policy, in addition to all future amendments and modifications (collectively referred to as the &quot;Agreement&quot;). By entering this website and/or subscribing to the services, subscriber agrees to be bound by these terms and conditions. If subscriber does not agree to be bound to the terms and conditions contained herein, then access to the AnonyProxies.com website and/or its services is prohibited.</p>

                    <p>LICENSE AnonyProxies.com grants you a personal, limited, non- exclusive license to use an account to which you have access for your personal, private, non-commercial, non-transferable, limited uses solely as set forth herein and as set forth in any additional documentation and/or agreements applicable to the Services accessed by you. All intellectual property rights on AnonyProxies.com are owned by Noted, Inc. and are protected by United States and International copyright, trade dress, patent, and trademark laws, international conventions, and other laws protecting intellectual property and related proprietary rights. You may not copy or download any Content from the AnonyProxies.com website unless you are expressly authorized to do so. Any commercial use is prohibited. You agree not to remove, obscure, or alter copyright, patent, trademark, or other proprietary rights notices affixed to AnonyProxies.com Content. Your rights are subject to your compliance with these Terms of Service as well as any other agreements applicable to AnonyProxies.com. New or future services that may be offered by AnonyProxies.com will require a separate subscription or agreement. Subscriber understands that this Agreement is limited to VPN services only and do not include any other services herein.</p>

                    <p>CHANGES TO THIS AGREEMENT Client understands that the present Terms of Service are subject to changes made by AnonyProxies.com at any time at its sole discretion, and you agree to be bound by any and all modifications, changes and/or revisions. You understand that it is your obligation to periodically review this webpage in order to account for any changes made, as they will be binding upon assent.</p>

                    <p>The terms and conditions herein apply to all users of AnonyProxies.com whether a 'visitor,' a &lsquo;subscriber,&rsquo; or a 'client' and you are only authorized to use AnonyProxies.com if you agree to abide by all applicable federal and state laws and be legally bound by the terms and conditions of this Agreement.</p>

                    <p>CONDUCT You agree to comply with all applicable laws and regulations in connection with use of this service. You must also agree that you nor any other user that you have provided access to will not engage in any of the following activities:</p>

                    <p>Sending or receiving unsolicited and/or commercial emails, promotional materials, &ldquo;junk mail,&rdquo; &ldquo;spam,&rdquo; &ldquo;chain letters,&rdquo; or &ldquo;pyramid schemes&rdquo;; Exploiting, possessing, producing, receiving, transporting, or distributing any illegal content, including but not limited to any sexually explicit depiction of children; Uploading, possessing, receiving, transporting, or distributing any copyrighted, trademark, or patented content which you do not own or lack written consent or a license from the copyright owner; Forging headers or otherwise manipulating e-mail identifiers in order to mask or mislead the origins of certain content; Interfering with the service to any other user, client, host or network which reduces the quality of service for other clients and users; Using the service to engage in Denial-of-service (&ldquo;DOS&rdquo;) attacks to any third-parties or to AnonyProxies.com; Accessing data, systems or networks including attempts to probe scan or test for vulnerabilities of a system or network or to breach security or authentication measures without written consent from the owner of the system or network; Using this service to transmit any material (by email, uploading, posting, or otherwise) that threatens or encourages bodily harm, injury or destruction of property, defames one or more third parties, or promotes any act of cruelty to animals; or Accessing the service to violate any laws at the local, state and federal level in the United States of America or the country/territory in which you reside.</p>

                    <p>EXPORT CONTROLS The AnonyProxies.com service offered as part of this Agreement is subject to all relevant United States export control laws and regulations. Company makes no representation that this Site is appropriate or available for use in other locations outside the United States. By using this Site, you represent and warrant that: (i) you are not listed on the U.S. Commerce Department's Table of Denial Orders, the U.S. Treasury Department's lists of specially designated nationals, or otherwise denied the privilege of participating in transactions involving the export of U.S.-origin products and services; (ii) you are not located in a country that is subject to embargo by the United States (currently Cuba, Iraq, Libya, North Korea, Sudan, Syria, or the Taliban Occupied Part of Afghanistan); (iii) you are not engaged, directly or indirectly, in the design, development, production, stockpiling, or use of nuclear, chemical, or biological weapons or missiles; and (iv) you will not, without prior authorization from the Bureau of Export Administration, (a) knowingly re-export the technical data received from you to any destination or (b) export the direct product of the technical data, directly or indirectly, to a country listed in Country Group D:1 or E:2 in Supplement No. 1 to Part 740 of the Export Administration Regulations (Albania, Armenia, Azerbaijan, Belarus, Bulgaria, Cambodia, Cuba, Estonia, Georgia, Kazakhstan, Kyrgyzstan, Laos, Latvia, Libya, Lithuania, Macau, Moldova, Mongolia, North Korea, People's Republic of China, Romania, Russia, Tajikistan, Turkmenistan, Ukraine, Uzbekistan, or Vietnam).</p>

                    <p>BREACH AnonyProxies.com abides by a ZERO TOLERANCE policy relating to any activity which breaches or violates our terms and conditions.</p>

                    <p>Along with the ZERO TOLERANCE policy, Clients who materially breach the terms and conditions will have their account removed without any refund. Additionally, Client understands that AnonyProxies.com expressly reserves the right to hold the Client or any third-party using the service on Client&rsquo;s behalf responsible for any and all financial damages and losses which may be incurred arising out of said breach or breaches, including, but not limited to attorneys fees, fees for expert witnesses, court costs, and other charges.</p>

                    <p>Subscriber understands that AnonyProxies.com reserves the right in its sole discretion to enforce breaches of this Agreement. Failure to comply with the present Terms of Service constitutes a material breach of the Agreement, and may result in one or more of these following actions: Issuance of a warning; Immediate, temporary, or permanent revocation of access to AnonyProxies.com with no refund; Legal actions against you for reimbursement of any costs incurred via indemnity resulting from a breach; Independent legal action by AnonyProxies.com as a result of a breach; or Disclosure of such information to law enforcement authorities as deemed reasonably necessary. AnonyProxies.com reserves the right to take any other actions deemed necessary to enforce and protect its rights. If you find that your AnonyProxies.com account has been suspended, then you may contact: helpdesk@AnonyProxies.com</p>

                    <p>SERVICE LEVEL AGREEMENT Service coverage, speeds, locations and quality are not guaranteed. While AnonyProxies.com will make every attempt to maintain the Service availability at all times, the Service may be subject to unavailability for numerous reasons including maintenance, emergencies, third party service failures, transmission errors, equipment failures, network issues, interference, natural disaster, amongst other reasons. AnonyProxies.com does not guarantee that data, messages, or packets will be delivered and shall not be held responsible in the event data, messages, or packets are lost, not delivered, delayed, misdirected or are otherwise inaccessible.</p>

                    <p>Additionally, we may impose usage limits to our services, suspend or block services, or cancel any and all services at our sole discretion at any time. Finally, we do not guarantee the accuracy and timeliness of any data received.</p>

                    <p>We make no guarantee that this service will be accessible at any time. However, we will do our best to keep the service up and running for our beloved clients.</p>

                    <p>CLIENT RESPONSIBILITIES As a client of AnonyProxies.com, you are responsible for: Maintaining the confidentiality and security of the account you are provided. Ensuring that subscriber connections to the AnonyProxies.com network are limited to no more than five (5) simultaneous connections. Providing valid and accurate identifying information related to the user account. Liability for any use and/or abuse which occurs while you or any third-party is logged into the AnonyProxies.com service with your account credentials.</p>

                    <p>FEES You acknowledge that AnonyProxies.com reserves the right to create a subscription service through one or more third party merchants. Payments will be charged on the day you sign up for service and will cover use of that service for the duration of one (1) month, six (6) months, one (1) year, or a &ldquo;lifetime&rdquo; account without subscription depending on the service plan level. A subscription plan is an automatic payment recurring based on the service plan. The &ldquo;lifetime&rdquo; account is based on a single transaction and will provide the subscriber access to an account for the AnonyProxies.com VPN service so long as the account remains in good standing and as long as AnonyProxies.com remains solvent. All accounts are offered as is at the time of purchase. Future services offered by AnonyProxies.com and Noted, Inc. may not be included with the account. You may cancel the account subscription at anytime; the account will remain active for the remainder of your billing cycle.</p>

                    <p>AnonyProxies.com reserves the right to change the fees at anytime at its discretion. Subscriber understands that AnonyProxies.com is not obligated to honor errors due to typos and is not responsible for misinformation provided on third party websites or affiliates.</p>

                    <p>Subscriber also understands that any gift-card based transactions for service are not subject to any reductions in price, discounts, promotional rates, or other lowered subscription rates.</p>

                    <p>REFUND POLICY If you are less than 100% satisfied with the AnonyProxies.com VPN service, we will gladly refund your payment if the refund is requested within seven (7) days from the date of the purchase. Requests made later than the 7 day purchase date window will be denied.</p>

                    <p>You understand that by paying for AnonyProxies using BitCoin as a transaction method, you are using a payment means that is not backed by an official governmental entity or international financial institution, and that the payment system may be prone to large fluctuations in value in a short period of time. The parties agree that any refunds for transactions using BitCoin will be assessed on the Bit Coin exchange rate to USD at the time of the refund disbursement, and not at the time of the original transaction or refund request.</p>

                    <p>Subscriber understands that refunds for gift-card based transactions are not available under any circumstances.</p>

                    <p>OUR RIGHTS AnonyProxies.com reserves the right to close your account at any given time without any given notice. While AnonyProxies.com will, at its best interest, attempt to provide full and complete service to its users, this right is reserved for reasons which may arise at a later date.</p>

                    <p>Subscriber understands that AnonyProxies.com also reserves the right to scale back or throttle bandwidth originating from subscriber accounts that may breach the present Agreement or in the event of excessive usage on the AnonyProxies.com network.</p>

                    <p>Subscriber also understands that AnonyProxies.com for reasons beyond its control may shut down and terminate services. If AnonyProxies.com ceases operations, subscribers will be notified with at least thirty (30) days advance notice. Subscribers will not be eligible for a pro-rated, partial, or complete refund in the event of a shut down.</p>

                    <p>WARRANTIES Subscriber represents and warrants that all of the identifying information provided to AnonyProxies.com to use the AnonyProxies.com website is accurate and current and you have all necessary right, power, and authority to enter into this Agreement and to perform the acts required of you hereunder.</p>

                    <p>As a condition to using the AnonyProxies.com website or its services, you must agree to the terms of AnonyProxies.com's privacy policy, Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;) policy, and any modifications and/or updates. You acknowledge and agree that the technical processing and transmission of the Website may involve transmissions over various networks; and changes to conform and adapt to technical requirements of connecting networks or devices. You further acknowledge and agree that other data collected and maintained by AnonyProxies.com with regard to its users may be disclosed in accordance with the AnonyProxies.com Privacy Policy.</p>

                    <p>WARRANTY DISCLAIMER SUBSCRIBER UNDERSTANDS THAT THE AnonyProxies.COM WEBSITE AND SERVICE IS PROVIDED AS-IS. SUBSCRIBER AGREES THAT USE OF THE AnonyProxies.COM WEBSITE SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, AnonyProxies.COM, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEBSITE AND YOUR USE THEREOF. AnonyProxies.COM MAKES NO WARRANTIES, EXPRESS, OR IMPLIED, NOR ANY REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SITE'S CONTENT OR THE CONTENT OF ANY SITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY: ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR WEBSITE, ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR WEBSITE AND/OR SERVICE, ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR WEBSITE BY ANY THIRD PARTY, ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE AnonyProxies.COM WEBSITE. AnonyProxies.COM DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE AnonyProxies.COM WEBSITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND AnonyProxies.COM WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. YOU SPECIFICALLY ACKNOWLEDGE THAT AnonyProxies.COM SHALL NOT BE LIABLE FOR DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>

                    <p>LIMITATION OF LIABILITY IN NO EVENT SHALL AnonyProxies.COM, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR WEBSITE, ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR WEBSITE AND/OR SERVICE ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR WEBSITE BY ANY THIRD PARTY, AND/OR ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE AnonyProxies.COM WEBSITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. YOU SPECIFICALLY ACKNOWLEDGE THAT AnonyProxies.COM SHALL NOT BE LIABLE FOR DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>

                    <p>INDEMNITY Subscriber agrees to defend, indemnify and hold harmless AnonyProxies.com, its parent corporation, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: your use of and access to the AnonyProxies.com Website and/or Service; your material breach of any term of these Terms of Service; your violation of any third party right, including without limitation any copyright, patent, trademark, property, or privacy right; or Any claim that your use caused damage or injury to any third party. This defense and indemnification obligation will survive these Terms of Service and your use of the AnonyProxies.com Website.</p>

                    <p>ARBITRATION The Parties agree that any legal claim or dispute between them or against any agent, employee, successor, or assign of the other, whether related to this agreement or otherwise, and any claim or dispute related to this agreement or the relationship or duties contemplated under this contract, including the validity of this arbitration clause, shall be resolved by binding arbitration by the American Arbitration Association (or name other firm providing arbitration services, i.e., National Arbitration Forum), under the Arbitration Rules then in effect. Any award of the arbitrator(s) may be entered as a judgment in any court of competent jurisdiction. Information may be obtained and claims may be filed at any office of the American Arbitration Association within Frisco, TX or Plano, TX. This agreement shall be interpreted under the Federal Arbitration Act.</p>

                    <p>ASSIGNMENT The Terms and Conditions contained herein and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by AnonyProxies.com without restriction.</p>

                    <p>SEVERANCE If any term, clause or provision of the present agreement is held invalid or unenforceable by a court of competent jurisdiction, such invalidity shall not affect the validity or operation of any term, clause or provision and such invalid term, clause or provision shall be deemed to be severed from this Agreement.</p>

                    <p>CHOICE OF LAW This Agreement shall be governed by and construed in accordance with the laws of the State of Texas, county of Denton, without regard to conflicts of law principles. The sole and exclusive jurisdiction and venue for any action or proceeding arising out of or related to this Agreement shall be in an appropriate state or federal court located in the State of Texas, county of Denton. You hereby submit to the jurisdiction and venue of said Courts. You consent to service of process in any legal proceeding.</p>
                    
                    <p>
                    NEITHER PARTY, NOR ANY OF ITS AFFILIATES, DIRECTORS, OFFICERS, AND EMPLOYEES SHALL BE LIABLE TO THE OTHER PARTY, OR ITS AFFILIATES, FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, REVENUE OR BUSINESS) ARISING OUT OF OR RELATED TO THIS AGREEMENT. THIS LIMITATION APPLIES REGARDLESS OF WHETHER SUCH DAMAGES ARE SOUGHT BASED ON BREACH OF CONTRACT, NEGLIGENCE OR ANY OTHER LEGAL THEORY.
                    </p>
                    
                    <p>
                     IN NO EVENT WILL EITHER PARTY BE LIABLE UNDER OR IN CONNECTION WITH THIS AGREEMENT UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), LIABILITY, AND OTHERWISE, FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL, ENHANCED, OR PUNITIVE DAMAGES, REGARDLESS OF WHETHER ANY PARTY WAS ADVISED OF THE POSSIBILITY OF SUCH LOSSES OR DAMAGES OR SUCH LOSSES OR DAMAGES WERE OTHERWISE FORESEEABLE.
                    </p>
                    
                    <p>
                      NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED IN THIS AGREEMENT, SELLER AND ITS SHAREHOLDERS, AFFILIATES, DIRECTORS, MANAGERS, EMPLOYEES OR OTHER REPRESENTATIVES SHALL NOT BE LIABLE TO CLIENT, AUTHORIZED USERS OR ANY THIRD PARTY FOR ANY INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES (INCLUDING REASONABLE ATTORNEYS’ FEES AND LOST PROFITS) THAT RESULT FROM OR ARE RELATED TO THIS AGREEMENT, EVEN IF SELLER HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGES.
                    </p>
                    
                    <p>
                      THERE IS NO WARRANTY FOR THE SELLER, TO THE EXTENT PERMITTED BY APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT HOLDERS AND/OR OTHER PARTIES PROVIDE THE SELLER "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE SELLER IS WITH YOU. SHOULD THE SELLER PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
                    </p>
                    
                    <p>If Subscriber agrees to all of the foregoing terms and conditions, Subscriber may gain access to and use the AnonyProxies.com service.</p>

                    <p>Last revised September 29, 2014</p>

                </div>


            </div>
        </div>
    </section>